.profile{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 90%;
    margin: 0 auto;
}
.avatarBlock{
    display: flex;
    flex-direction: column;
    flex-basis: 40%; 
    place-items: center;
    place-content: center;
    padding-right: 20px;
}
.avatarBlock img{
    max-width: 100%; 
}
.avatarBlock button{
    display: block;
    padding: 12px 0; 
    margin: 10px auto;
    background: #32b482;
    color: #fff;
    border-radius: 8px; 
    width: 100%;
    max-width: 200px; 
}
.descriptionBlock{
    display: flex; 
    flex-direction: column;
    flex-basis: calc(50% - 40px);
} 
.descriptionBlock p {
    margin-bottom: 20px;
}
.descriptionBlock .username{
    font-style: italic;
    font-size: 1.5rem;
}

.btnBlock button{
    flex-basis: 40%;
    display: flex;   
    align-items: center;
    flex-direction: column;
} 
.btnBlock > button{
    width: 90%;
    height: 45px;
    margin-bottom: 10px;
}


.EditModalBlock{
    padding: 20px 60px;
}

.editModalForm{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    width: 25vw;
}
.editModalForm > * {
    width: 100%;
}
.btnBlockModal{
    text-align: center;
    height: 40px;
}

.btnBlockModal > button{
    width: 60%;
    height: 100%;
}