.profile{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.descriptionBlock{
    display: flex; 
    flex-direction: column;
    flex-basis: calc(50% - 40px);
    margin-top: 40px;
} 
.descriptionBlock p {
    margin-bottom: 20px;
}
.descriptionBlock .username{
    font-size: 1.5rem;
}

.btnBlock button{
    flex-basis: 40%;
    display: flex;   
    align-items: center;
    flex-direction: column;
} 
.btnBlock > button{
    width: 90%;
    height: 45px;
    margin-bottom: 10px;
}


.EditModalBlock{
    padding: 20px 60px;
}

.editModalForm{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    width: 25vw;
}
.editModalForm > * {
    width: 100%;
}
.btnBlockModal{
    text-align: center;
    height: 40px;
}

.btnBlockModal > button{
    width: 60%;
    height: 100%;
}

@media (max-width: 768px) {
    .EditModalBlock{
        padding: 20px;
        width: 400px;
    }

    .editModalForm{
        width: 100%;
    }
    .btnBlockModal > button{
        width: 60%;
        height: 100%;
    }
}

@media (max-width: 568px) {
    .profile{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    .descriptionBlock{
        margin-bottom: 40px;
    }
    .EditModalBlock{
        padding: 20px;
        width: 80vw;
    }
}