
/* ----- TRANSACTIONS TAB ------- */

.tabsBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 30px;
}

.tabsBlock select {
    border: 1px solid #32b482;
    padding: 6px 10px;
} 

.tabs{ 
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}
.tabs button {
    cursor: pointer;
    padding: 5px 10px;
}
.tabs button:focus { 
    background: #32b48260;
}
.activeTab{
    border-bottom: 2px solid #32b482;
}

.setup{ 
    display: flex;
    justify-content: space-between;
    flex-basis: 22%;
} 


.transactionsBlock{ 
    padding: 10px 20px;
}
.transactionItem{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}  

.transactionsTitle{
    cursor: default;
    background: none;
    padding: 5px 20px;
    font-weight: bold;
}
.transactionItem *{
    flex: 0.8; 
} 
.transactionItem .contragent,
.transactionItem .category{
    flex: 1.3; 
}  
.transactionItem .type,
.transactionItem .description,
.transactionItem .tooltipWrap{
    flex: 0.5; 
} 
.transactionItem .infoIcon{
    width: 28px;
    transition: 0.3s; 
} 
.tooltipWrap:hover .infoIcon{
    transform: scale(0.8);
}

.descr {
    border-radius: 10px;
    width: 200px; 
    color: #fff;  
    word-wrap: break-word;
} 