
/* ----- TRANSACTIONS TAB ------- */
.tabsBlock{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 20px;
    padding: 0 30px;
}
.tabsBlock > button {
    margin-right: 10px;
}

.transactionsBlock{ 
    padding: 10px 20px;
    min-height: 100vh;
}
.tooltipWrap:hover .infoIcon{
    transform: scale(0.8);
}

.descr {
    border-radius: 10px;
    width: 200px; 
    color: #fff;  
    word-wrap: break-word;
} 

/* --------- Export Dialog ---------- */

.exportBlock{
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.btnBlock{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment{
    font-size: 0.7rem;
    color: gray;
}


@media (max-width: 768px) {
    .exportBlock{
        width: 400px;
        height: 120px;
    }
    .btnBlock{
        width: 100%;
    }
}
@media (max-width: 586px) {
    .tabsBlock{
        display: flex;
        justify-content: space-between;
    }
    .tabsBlock > button {
        margin-right: 0;
    }
    .exportBlock{
        width: 100%;
        height: 100px;
    }
    .btnBlock > button{
        flex-basis: 45%;
        font-size: 0.7rem;
        padding: 10px 0;
    }
}