
.bankAccountPage{ 
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.bankAccountPageNav{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 40px;
}
.bankAccountPageNav input{
    margin-right: 10px;
}
.cardName{
    font-size: 40px;
    font-weight:100;
} 
.bankAccounPageBalance{
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.bankAccounPageBalance span{
    display: block;
    padding: 10px;
    color: #32b482;
    font-weight: bold;
    font-size: 1.1rem;
    
}
/*-------------История операций-----------*/
.transactionsHistory{
    padding: 10px 20px;
} 
.transactionsHistoryItem{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}  
.transactionsHistoryTitle{
    cursor: default;
    background: none;
    padding: 5px 20px;
    font-weight: bold;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    flex-basis: 22%;
    height: 40%;
}


