.createTransactionModal{
    width: 60%;
    height: 100%;
    max-height: 420px;
    background: #fff;
    padding: 20px;
    padding-bottom: 40px;
}

.operationTabs{
    display: flex;
}
.operationTabs > button{
    flex: 1;
    height: 100%;
    padding: 16px 0; 
}
.activeTab{
    border-bottom: 1px solid #32b482; 
}

.transactionForm, .remittanceForm{ 
    display: grid; 
    grid-gap: 30px 20px;
    text-align: center;
    align-items: center;
    padding: 40px 0 40px 0;
    height: 100%;
    font-size: 0.875rem; 
}
.transactionForm{
    grid-template-columns: repeat(3, 1fr);
}  
.remittanceForm{ 
    grid-template-columns: repeat(2, 1fr); 
}  

.remittanceForm input, 
.remittanceForm select { 
    max-width: 300px;
}
.remittanceForm > .btnBlock .operationBtn{
    width: 75%;
    margin: 0 auto; 
}
.btnBlock .operationBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(50, 180, 130);
    width: 100%;
    height: 40px;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
}

.alertMsg{
    text-align: center;
}
.successMsg{
    color: #32b482;
}





@media (max-width: 1024px){
    .createTransactionModal{
        width: 70%;
    }
}

@media (max-width: 768px){
    .createTransactionModal{
        width: 80%;
    }
    .transactionForm, .remittanceForm{ 
        grid-template-columns: repeat(2, 1fr); 
    }  
}

@media (max-width: 570px){
    .createTransactionModal{
        width: 80%;
        height: 95%;
        max-height: none;
    }
    .transactionForm, .remittanceForm{ 
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px 20px;
        padding: 0;
        padding-bottom: 30px;
    }  
}