.settings{
    display: flex; 
    align-items: flex-start;   
}
.settingsSection{
    margin: 0 auto; 
    flex: 1; 
}  
.settingsTitle{
    font-weight: bold;
    margin-bottom: 12px;
}
.settingsItem{ 
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 12px;
    margin-right: 10px;
    margin-bottom: 12px;
}
.settingsItem input{
    height: 26px;
    margin-right: 5px;
    outline: none;
    padding: 3px;
} 
.settingsItem span{
    display: flex;
    justify-content: space-between;
}
.settingsItem img{
    width: 18px;
    cursor: pointer;
    display: inline;
    margin-right: 4px;
}
.editInput{
    width: 100%;
}
.btnBlock{    
    text-align: center;
    padding: 0 10px;
    margin: 20px 0;
}
.addNewItemBtn{ 
    padding: 8px 0; 
    background: #32b482;
    color: #fff;
    border-radius: 8px; 
    width: 100%;
    max-width: 180px; 
}

.newCategoryForm{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px; 
} 
.newCategoryForm .formBlock{
    display: flex; 
}
.newCategoryForm .formBlock input{
    height: 30px;
}
.newCategoryForm img{
    width: 20px;
}

.editElementInputs{
    display: flex;
    flex-direction: column;
    margin-right: 5px; 
} 
.editElementInputs input{
    margin-bottom: 5px;
}
.editElementInputs label{
    display: flex;
    align-items: center;
}




@media (max-width: 768px) {
    .settings{
        flex-direction: column;
        align-items: center;
    }
    .settings > * {
        flex-basis: 100%;
        width: 100%;
    }
    .settingsItem{
        height: 70px;
        align-items: center;
    }
    
    .newElementInputs{
        flex-direction: row;
    }
    .newElementInputs > * {
        margin-right: 10px;
    }
    .newElementBtns > img {
        margin-right: 20px;
        width: edit;
    }

    
    .newCategoryForm .formBlock{
        flex-direction: column;
    }
}