.authorizationPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
}
.authorizationPageReversed {
    flex-direction: row-reverse;
    transition: all 0.6s ease-in;
}
.authorization{
    width: 100%;
    z-index: 2;
}
.form{ 
    display: flex;
    flex-direction: column; 
}
.loginForm {
    width: 100%;
}
.registerForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form > * {
    margin-bottom: 20px; 
}

/* Небольшой говнокодинг, потом исправлю */
.form > .input,  
.form > * > * > .input,  
.btnBlock{  
    width: 70%;
    padding: 15px;
}  
.form > .input,  
.form > * > * > .input {
    border-radius: 8px;
    margin-bottom: 10px;
}
.registerForm > .input {
    width: 100%;
}
.btnBlock{
    text-align: right;
    padding: 0;
} 
.btnBlock > button {
    padding: 12px 40px;
}  
.LogOrReg span {
    margin-left: 10px;
    color: #32b482;
    cursor: pointer;
}
.decoration{
    width: 100%;
    z-index: 1;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .decoration{
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .form {
        width: 70%;
        margin: 0 auto;
    }
    .LogOrReg {
        text-align: center;
    }
    .registerForm {
        grid-template-columns: repeat(1, 1fr);
    }
    .loginForm {
        align-items: center;
    }
    .btnBlock{
        text-align: center;
        width: 100%;
    } 
}