.mainPage{
    display: grid; 
    grid-template-areas: 'sidebar content';
    grid-template-columns: 220px 1fr;
    background: #f8f8f8;
}

.mainContent{
    padding: 20px;
    grid-area: content;
}

@media (max-width: 1024px) {
    .mainPage{
        grid-template-areas: 'content';
        grid-template-columns: 1fr;
    }
}