/* ----- STATISTICS TAB ------- */
.tabsBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 30px;
}
.tabsBlock select {
    border: 1px solid #32b482;
    padding: 6px 10px;
}  
.setup{ 
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
} 

/* --------- Filter ----- */
.filterBlock{
    display: flex;
    place-items: center;
    padding: 20px;
}
.filterBlock > form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.selectsBlock{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}
.selectsBlock *{ 
    width: 100%;
}
.dates{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dates > div{
    flex-basis: 45%;
    height: 30px;
    margin-bottom: 20px;
}


/* ----- STATISTICS CHARTS BLOCK ------- */
.statisticsBlock{
    display: flex;
    flex-direction: column;
}
.statisticsLabel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px auto 0 auto;
}
.chartsBlock {
    display: flex;
    height: 100%;
} 
.chartsBlock > * {
    width: 50%;
    flex-basis: 50%;
    height: 100%;
    min-height: 150px;
    margin: 0 auto;
}
.selectsBlock{
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}
.form > *{
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .chartsBlock {
        flex-direction: column;
    }
    .chartsBlock > * {
        width: 80%;
        margin-bottom: 20px;
    } 
}

@media (max-width: 568px) {
    .chartsBlock > * {
        width: 100%;
    } 
}

@media screen and (max-height: 600px) and (min-width: 768px) {
    .filterBlock > form {
        max-width: 100%;
        width: 600px;
        flex-direction: row;
        justify-content: space-between;
    }
    .filterBlock > form > * {
        flex-basis: 33.33%;
    }
    .dates{
        max-width: 200px;
    }
    .selectsBlock{
        max-width: 250px;
    }
}