@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Play', sans-serif !important; 
    font-weight: 700 !important;
}  
a{
    color: black;
    font-size: 1rem;
    text-decoration: none; 
}
button{
    background: none;
    cursor: pointer;
    border: none;
} 
button:focus{
    outline: none;
}
html {
    font-size: 16px;
}
.section{
    padding: 40px 0;
}
option{
    cursor: pointer;
}
.h3{
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.button{
    color: #fff;
    background: #32b482; 
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
} 
.button:hover{
    transform: scale(0.95);
}
.wrapper{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
} 
.codeInput{
    margin-bottom: 20px;
}
.app{
    background: #f8f8f8;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}
.main{
    padding-top: 90px;
    z-index: 2;
}
 

.modal-window{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    place-content: center;
    place-items: center;
    background: rgba(0, 0, 0, 0.3);
} 

.preloader{
    width: 100%;
    height: 80vh;
    display: flex;
    place-content: center;
}

.preloader img{
    width: 10%; 
} 

.wrongData{
    color: red;
}

body .tippy-tooltip{
    border-radius: 10px;
} 

@media (max-width: 768px){
    html {
        font-size: 14px;
    }
}
@media (max-width: 578px){
	html {
		font-size: 13px;
    }
}


@media (min-width: 576px){
	.wrapper{
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.wrapper{
		max-width: 720px;
	}
}  
@media (min-width: 992px){ 
	.wrapper{
		max-width: 960px;
	}
}
@media (min-width: 1440px){
	.wrapper{
		max-width: 1140px;
		width: 100%;
	}
}